<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspiration</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">
</head>
<body>
    
    <a href="./about">About</a>
    <main>
<div class ="animation">
    <form action ="/animation" method ="post">
        <select name = "dropdown">
        <option value = "on" selected>on</option>
        <option value = "off">Off</option>
        </select>
        <input type = "submit" value = "Send"/>
        </form>

    </div>
    </main> 
</body>
</html>